.add-btn {
  color: white;
  background-color: green;
  border-color: goldenrod;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  margin: 1em;
  padding: .3em;
}
.status{
  background-color: green;
  color: white;
}
.center{ text-align: center;}

#view-page{
  padding-top: 50px;
}